<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link href='https://fonts.googleapis.com/css?family=Hanken Grotesk' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        body {
            font-family: 'Hanken Grotesk', Arial, sans-serif;
            display: flex;
        }
        .image-container {
            flex: 1;
            background-image: url('https://images.pexels.com/photos/62318/washington-d-c-statue-sculpture-the-peace-monument-62318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-container {
            flex: 1;
            background-color: #8B0000; /* Dark red */
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 20px;
        }
        .form-content {
            max-width: 400px;
            width: 100%;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            color: white;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
        }
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #a82828; /* Darker red on hover */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #8B0000; /* Dark red */
        }
        .home-icon {
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    </style>
</head>
<body>
  <div class="image-container">
    <i class="fas fa-home home-icon" onclick="window.location.href='/'"></i>
  </div>
  <div class="form-container">
    <div class="form-content">
      <h1>Change Password</h1>
      <form action="/updatePassword" method="POST">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="<%= user.username %>" hidden required>
          <span><%= user.username %></span>
        </div>
        <div>
          <label for="currPassword">Current Password:</label>
          <input type="password" id="currPassword" name="currPassword" required>
        </div>
        <div>
          <label for="newPassword1">New Password:</label>
          <input type="password" id="newPassword1" name="newPassword1" required>
        </div>
        <div>
          <label for="newPassword2">Confirm New Password:</label>
          <input type="password" id="newPassword2" name="newPassword2" required>
        </div>
        <button type="submit">Update Password</button>
      </form>
    </div>
  </div>
</body>
</html>
